spring:
  application:
    name: bedrock-system
  profiles:
    # 核心：默认激活 dev 环境。部署到生产时，通过启动参数 -Dspring.profiles.active=prod 切换
    active: dev
  main:
    allow-bean-definition-overriding: true

  # 通用 Jackson 配置
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    default-property-inclusion: non_null
    serialization:
      fail-on-empty-beans: false

# 通用日志基础格式
logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
  level:
    root: info
    com.creeperfarm: debug # 默认开启业务代码调试